<div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['new']">Add Pet</a>
            </li>
        </ul>
    </nav>
    <br>
</div>
<h2>About Lovingly</h2>
<p>Lovingly was established in 2019 to create a network for experienced foster caretakers and animal shelters.  Our belief is that all animals deserve a second chance and endless amounts of love.  So, if you are an animal shelter with a problem animal who needs rehabilitation and work, add the pet to the network and our experienced fosters will apply to help get them adoption ready.  If you are a foster with an adoption ready animal, please post and our vast animal shelter network will help get the bundle of love adopted.  
<br>
<br>
We also partner with The Farm Upstate, an organization that takes in problem animals and provides a large plot of land for them to feel more in their natural habitat.  We've found that when all else fails, The Farm Upstate makes a great home for our most viscious trouble makers.
<br>
<br>
Please join us in ridding the world of kill shelters and hopeless cases as we do not believe that either should exist.
<br>
<br>
Disclaimer: This site was built by Sam Hall as a project to display his competence with MEAN Stack, AWS, and Bootsrap.  While Sam wishes this organization existed, it does not at the moment.  Hopefully, it will or already does in some fashion.  Thanks for viewing!</p>
