
<div class="jumbotron">
    <div class="container">
    <img class="float-right" src="https://png2.kisspng.com/sh/6f8dc77724899cf25275d20131cf219d/L0KzQYm3V8E1N5pvgZH0aYP2gLBuTfJmdphmhJ9sYYSwd7FzhPVvNaNqjORyZYbogn73hgJ0cZJzRdVqdD32hLFqi71xcJD5RdV7b4H4dcX7hb02amVmT6ICZnO6R7XpVr4zPGY9Uac5OEG4Q4K9UMUyOWo9Sak6LoDxd1==/kisspng-bengal-cat-golden-retriever-persian-cat-stock-phot-croquette-5b4a707fc77db6.2458950815316051198171.png" height="150px">
    <h1>Lovingly Foster Network</h1>
    <p>Devoted to adoption and rehabilitation.</p>
    </div>
</div>
<div class="container"> 
    <router-outlet></router-outlet>
    <p>Contact us and send photos to fosternetwork@notarealemail.com</p>
</div>